body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #161520;
}

#checklistMenuButton{
  position: fixed;
  top: 20px;
  left: 20px;
  display: none;
}

#emerMenuButton {
  position: fixed;
  top: 20px;
  right: 20px;
  display: block;
  color: red;
  border: 3px solid red;
}

/* Checklist Menu */
.checklistMenuListButton {
    width: 742px;
    height: 50px;
    margin: 10px;
    background-color: #28272e;
    color: #6e6e6f;
    border: 3px solid #38383c;
    font-size: 18px;
}
.checklistMenuListButton:active {
    background-color: #38383c;
    color: #196e6f;
    border: 1px solid #38383c;
}

#emerChecklistMenu {
  display: none;
}

#h2EmerChecklistMenu{
  color: red;
}

/* Checklist */
#checklist1{
    display: none;
}
#checklist2{
    display: none;
}
#checklist3{
    display: none;
}
#checklist4{
    display: none;
}
#checklist5{
    display: none;
}
#checklist6{
    display: none;
}
#checklist7{
    display: none;
}
#checklist8{
    display: none;
}
#checklist9{
    display: none;
}
#checklist10{
    display: none;
}
#checklist21{
  display: none;
}
#checklist22{
  display: none;
}



h2 {
    color: #f2f2f2;
    text-align: center;
    margin-top: 50px;
}


.checklistItem {
    text-decoration: none;
    font-size: 22px;
    color: #196e6f;
    display: flex;           /* Flexbox für die Ausrichtung */
    justify-content: space-between; /* Verteilung zwischen links und rechts */
    align-items: center;     /* Vertikale Ausrichtung der Items */
    width: 100%;             /* Volle Breite für den Container */
    box-sizing: border-box;  /* Rand und Padding in der Breite enthalten */
    padding: 10px 0;         /* Optionaler Innenabstand (Padding) */
}

.checklistItemCheckbox {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border: 1px solid #196e6f;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    color: #196e6f;
}

.checklistItemLeft {
    margin-right: 10px;      /* Abstand rechts vom linken Text */
}

.checklistItemCenter {
    flex-grow: 1;            /* Füllt den verbleibenden Platz */
    text-align: center;      /* Zentriert den Text */
    padding: 0 10px;         /* Innenabstand links und rechts */
}

.checklistItemRight {
    padding-left: 10px;       /* Abstand links vom rechten Text */
    padding-right: 10px;
}

.checklistInfoItem {
  color: white;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#checklistCompleted{
    display: none;
    font-size: 25px;
    background-color: green;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 80px;
    width: 100%;
}

.navbutton {
  background-color: #28272e;
  color: #6e6e6f;
  border: 3px solid #38383c;
  height: 50px;
  width: 150px;
  font-size: 15px;
  touch-action: manipulation;
}

.navbutton:active {
  background-color: #38383c;
  color: #484848;
  border: 1px solid #38383c;
}

#resetButton{
  display: none; /* hide by default */
  position: fixed;
  bottom: 20px;
  left: 20px;
}

#nextChecklistButton{
  display: none; /* hide by default */
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 3px, solid, green;
  color: green;
}

#checkedButton{
  display: none; /* hide by default */
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#resetButton, #checkedButton {
  z-index: 1000; /* or a high value */
}

#version {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}
